:root {
  font-family: "MS Sans Serif", "Microsoft Sans Serif", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: #000000;
  background-color: #c0c0c0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
