.productCardDescription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  line-height: 1.4em;
}

.productCardImageWrap {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCardImageWrapDisabled {
  filter: blur(4px);
}

.productCardImage {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* сохраняет пропорции */
  display: block;
}

.productCardHr {
  margin: 12px 0;
}

.productCardButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
