.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #fff;
  border: 2px solid #000;
  padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.dayOfWeek {
  text-align: center;
}
