:root {
  --primary: #35b3a9;
  --default-grey: #9b9b9b;
  --secondary-grey: #838383;
  --accent-red: #ff162e;

  --xs-size: 2px;
  --s-size: 4px;
  --m-size: 8px;
  --l-size: 12px;
  --xl-size: 16px;
  --xxl-size: 24px;
}
