.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  transition: opacity 0.3s;
}

.backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebarModal {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.items {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer {
  padding: 1rem;
  border-top: 1px solid #e5e5e5;
}

.orderButton {
  width: 100%;

  padding: 16px 24px;
}

.cartItemImage {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;

  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* сохраняет пропорции */
  display: block;

  padding-top: 8px;
}
